// variables

$gris-oscuro: #35363a;
$gris-azulado: #3f474f;
$gris-claro: #c7c8c9;
$rojo-oscuro: #9b3f3f;
$rojo-claro: #b65353;
$negro-claro: #212529;
$gris-333: #333;
$fondo: #f1f1f1;


// mixins
@mixin centrar-elemento {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin centrar-texto{
    text-align: center;
}
// seccion nuevos

.grupo-de-productos{
    max-width: 1400px;
    margin: 5rem auto;
    .titulo-grupo{
        margin: 0;
    }
    @media only screen and (max-width:860px){
        .base-seccion{
        grid-template-columns: repeat(6, minmax(auto, 1fr));
    }
    }
    @media screen and (max-width:900) {
        li a figure img{
            width: 10vw;
            border-radius: 3px;
            border: 1px solid #333;
        }
    }
    .base-seccion{
        display: grid;
        padding: 0;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        text-align: center;
        list-style-type: none;
        outline: none;
        margin-bottom: 0;
        height: 12rem;
        li a figure img{
            border-radius: 5px;
            border: 1px solid #333;
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            transition: 0.5s;
            object-fit: cover;
        }
        li a figure img:hover{
            transform: scale(1.1);
        }
        li a{
            text-decoration: none;
            color: #F15152;
            font-size: 1.1rem;
            transition: all 0.3s;
        }
        li a:hover{
            color: $gris-claro;
            transform: scale(1.3);
            font-size: 1.3rem;
        }
        .item-de-coleccion{
            margin-bottom: 1rem;
        }
    }
    

    .item-de-coleccion{
        width: 30%;
    }

    @media screen and (min-width:768px){
        .item-de-coleccion{
        width: 15%;
    }
    }
        
    .grupo-head{
        @include centrar-elemento();
        margin-top: 1rem;
        background-color: #9b3f3f;
        color: #dedede;
        padding: 0px 0;
        border-radius: 10px;
        margin: 10px auto;
    }
    .titulo-grupo{
        font-size: 25px;
    }
}
// seccion sugerencias
.sugerencias{
    width: 100%;
    max-width: 1300px;
    margin: 14rem auto;
    .mensaje-ayuda{
        color: $gris-claro;
        text-align: center;
        margin: 3rem;
        
        .title-ayuda{
            color: $fondo;
            font-size: 2rem;
        }
    }
    .seccion-1{
        @media (min-width: 868px){
        display: grid;
        grid-template-columns: 5fr 3fr;
        height: 45svh;
    }
    }
    .seccion-2{
        @media (min-width: 868px){
            display: grid;
            grid-template-columns: 3fr 5fr;
            height: 45svh;
        }
    }
    
    .caja-responsive{
        background-image: url('../images/working/w33.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        border: #212529 1px solid;
        padding: 10px;
        white-space: normal;
        overflow: visible;
        margin: 1px;
        border-radius: .5rem .5rem 0 0;
        @media (min-width: 868px){
            height: 44.8svh;
            border-radius: .5rem 0 0 0;
            padding: 3rem 0;
        }
        .s-h5{
            color: $negro-claro;
            margin: 0 5vw 0;
            max-width: fit-content;
            background-color: #fff7;
            border-radius: 2px;
            padding-left:  5px;
            @media (min-width: 868px){
                font-size: 1.8rem;
            }
        }
        .s-text{
            color: $gris-claro;
            margin: 20px 5vw 0   ;
            font-size: 16px;
            background-color: #3337;
            border-radius: 3px;
            padding: 0 5px;
            max-width: fit-content;
            text-align: center;
            @media (min-width: 868px){
                font-size: 1.1rem;
                margin: 2rem 5vw ;
            }
            @media (min-width: 868px){
                margin: 4rem 5vw;
            }
        }
        .s-span{
            color: #f1f1f1;
        }
        .s-btn{
            color: $rojo-claro;
            background-color: $negro-claro;
            border-radius: 0.3rem;
            position: relative;
            margin: 20px 8vw;
            padding: 0 10px;
            text-align: center;
            border: 1px solid $gris-oscuro;
            transition: all 0.3s;
            @media (min-width: 868px){
                font-size: 1.3rem;
            }
        }
        .s-btn:hover{
            transform: scale(1.2);
            color: $gris-claro;
        }
    }
    .caja-responsive-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url('../images/teclados/s2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        border: #212529 1px solid;
        padding: 10px;
        white-space: normal;
        overflow: visible;
        margin: 1px;
        @media (min-width: 868px){
            height: 44.8svh;
            border-radius: 0 .5rem 0 0;
            
        }
        @media (min-width: 1024px){
            padding: 3rem 0;
        }
        .s-h5-2{
            color: $negro-claro;
            margin: 0 5vw 0;
            max-width: fit-content;
            background-color: #fff7;
            border-radius: 2px;
            padding:  5px;
            text-align: center;
            @media (min-width: 868px){
                font-size: 1.8rem;
            }
        }
        .s-text-2{
            color: $gris-claro;
            margin-bottom: 70px;
            font-size: 16px;
            background-color: #3337;
            max-width: fit-content;
            border-radius: 3px;
            @media (min-width: 868px){
                font-size: 1.1rem;
            }
            @media (min-width: 1024px){
                margin-bottom: 95px;
            }
        }
        
        .s-span{
            color: #f1f1f1;
        }
        
        .s-btn-2{
            color: $rojo-claro;
            background-color: $negro-claro;
            border-radius: 0.3rem;
            padding: 0 10px;
            text-align: center;
            border: 1px solid $gris-oscuro;
            transition: all 0.3s;
            @media (min-width: 868px){
                font-size: 1.3rem;
            }
        }
        .s-btn-2:hover{
            transform: scale(1.2);
            color: $gris-claro;
        }
    }
    .caja-responsive-3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-image: url('../images/working/w24.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        border: #212529 1px solid;
        padding: 1rem;
        white-space: normal;
        overflow: visible;
        margin: 1px;
        @media (min-width: 868px){
            height: 44.8svh;
            border-radius: 0 0 0 .5rem;
            padding: 3rem 0;
            align-items: center;
        }
        .s-h5-3{
            color: $negro-claro;
            margin: 0 5vw 0;
            max-width: fit-content;
            background-color: #fff7;
            border-radius: 2px;
            padding:  5px;
            @media (min-width: 868px){
                font-size: 1.8rem;
            }
        }
        .s-text-3{
            color: $gris-claro;
            margin: 20px 5vw;
            font-size: 16px;
            background-color: #3337;
            border-radius: 3px;
            padding: 0 5px;
            max-width: fit-content;
            @media (min-width: 868px){
                font-size: 1.1rem;
            }
        }
        .s-span{
            color: #f1f1f1;
        }
        a{
            display: flex;
            justify-content: center;
            align-content: flex-end;
            text-decoration: none;
            align-items: flex-end;
        }
        .s-btn-3{
            color: $rojo-claro;
            background-color: $negro-claro;
            border-radius: 0.3rem;
            position: relative;
            margin: 0 0 1rem 6vw;
            padding: 2px 10px;
            text-align: center;
            border: 1px solid $gris-oscuro;
            transition: all 0.3s;
            @media (min-width: 868px){
                margin: 0;
                font-size: 1.3rem;
            }
        }
        .s-btn-3:hover{
            transform: scale(1.2);
            color: $gris-claro;
        }
    }
    .caja-responsive-4{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        background-image: url('../images/working/w22.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        border: #212529 1px solid;
        padding: 10px;
        white-space: normal;
        overflow: visible;
        margin: 1px;
        border-radius: 0 0 .5rem .5rem;
        @media (min-width: 868px){
            height: 44.8svh;
            border-radius: 0 0 .5rem 0;
            padding: 3rem 0;
            .s-text-4{
                margin-bottom: 70px;
            }
        }
        .s-h5-4{
            color: $negro-claro;
            max-width: fit-content;
            background-color: #fff7;
            border-radius: 2px;
            padding: 5px;
            align-self: center;
            @media (min-width: 868px){
                font-size: 1.8rem;
            }
        }
        .s-text-4{
            color: $gris-claro;
            font-size: 16px;
            background-color: #3339;
            border-radius: 3px;
            padding: 0 5px;
            text-align: center;
            max-width: fit-content;
            justify-self: center;
            @media (min-width: 868px){
                font-size: 1.1rem;
            }
        }
        .s-span{
            color: #f1f1f1;
        }
        a{
            align-self: center;
        }
        .s-btn-4{
            color: $rojo-claro;
            background-color: $negro-claro;
            border-radius: 0.3rem;
            position: relative;
            padding: 0 10px;
            text-align: center;
            border: 1px solid $gris-oscuro;
            transition: all 0.3s;
            @media (min-width: 868px){
                font-size: 1.3rem;
            }
        }
        .s-btn-4:hover{
            transform: scale(1.2);
            color: $gris-claro;
        }
    }
}

// pagina teclados

// banner teclados
.banner-teclados{
    background-image: url(../images/working/w6.jpg);
    height: 70svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3rem;
    @media (max-width:800px){
        padding-top: 1rem;
    }
    .titulo-banner{
        background-color: #ddd8;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 2px;
        margin: 0px 20px;
        color: $rojo-oscuro;
    }
    .subtitulo-banner{
        color: $gris-claro;
        background-color: #3337;
        max-width: fit-content;
        border-radius: 5px;
        margin: 30px 20px;
        padding: 10px 20px;
    }
}

// Galeria teclados

.child-page-listing{
    margin: 8rem auto;
    max-width: 1500px;
}

.teclados-title{
    text-align: center;
    background-color: $rojo-oscuro;
    padding: 0.5rem;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 0 1em;
  /* hover styles */
  .location-listing {
    position: relative;
    .location-title {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s;
        background: rgba(90,0,10,0.4);
        color: white;
        
        /* posicionar el texto en t' medio*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .location-image {
      line-height: 0;
      overflow: hidden;
      border-radius: 5px 5px 0 0;
      img {
        width: 300px;
        height: 169px;
        width: 100%; /*necesidad de sobrescribir las dimensiones en línea */
        inline-size: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        filter: blur(0px);
        transition: filter 0.3s ease-in;
        transform: scale(1.1);
        transform: scaleY(center);
      }
    }
    .nobre-precio{
        display: flex;
        justify-content: space-between;
        background-color: $gris-oscuro;
        color: $gris-claro;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        .nombre-teclado{
            margin-left: 1rem;
        }
        .precio-teclado{
            margin-right: 1rem;
        }
    }
  }
}

.location-listing:hover .location-title {
    opacity: 1;
  }
  
.location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
/*para dispositivos táctiles*/
@media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }

// Pagina Mouse pad
// Banner Mouse Pad
.banner-mousepad{
    background-image: url(../images/pad/superlight.jpg);
    height: 70svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 4rem;
    @media (max-width:800px){
        padding-top: 1rem;
    }
    .titulo-banner{
        background-color: #ddd8;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 2px;
        margin: 0px 20px;
        color: $rojo-oscuro;
    }
    .subtitulo-banner{
        color: $gris-claro;
        background-color: #3338;
        max-width: fit-content;
        border-radius: 5px;
        margin: 30px 20px;
        padding: 10px 20px;
    }
}

// Galeria Mouse pad
.nombre-pad{
    margin-left: 1rem;
}
.precio-pad{
    margin-right: 1rem;
}


// Pagina Switches
// Banner Switches
.banner-switches{
    background-image: url(../images/working/w21.jpg);
    height: 70svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 6rem;
    @media (max-width:800px){
        padding-top: 1rem;
    }
    .titulo-banner{
        background-color: #ddd8;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 2px;
        margin: 0px 20px;
        color: $rojo-oscuro;
    }
    .subtitulo-banner{
        color: $gris-claro;
        background-color: #3338;
        width: 45%;
        max-width: fit-content;
        border-radius: 5px;
        margin: 30px 20px;
        padding: 10px 20px;
        @media (max-width:700px){
            width: fit-content;
        }
    }
}


// Galeria Switches
.nombre-switch{
    margin-left: 1rem;
}
.precio-switch{
    margin-right: 1rem;
}


// barra lateral
body::-webkit-scrollbar {
    width: 1em;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: $gris-oscuro;        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #c7c8c9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $gris-azulado;  /* creates padding around scroll thumb */
  }

// barra horizontal
.nuevos-productos::-webkit-scrollbar {
    width: 1em;               /* width of the entire scrollbar */
  }
  
.nuevos-productos::-webkit-scrollbar-track {
    background: $gris-oscuro;        /* color of the tracking area */
  }
  
.nuevos-productos::-webkit-scrollbar-thumb {
    background-color: #c7c8c9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $gris-azulado;  /* creates padding around scroll thumb */
  }

  /* SOBRE NOSOTROS */

.primera-seccion-sn{
    justify-content: justify;
    .cabecera{
        background-image: url(../images/working/w1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #3337;
        height: 50vh;
        padding: 2em;
        border-radius: 1rem;
        @media (max-width:600px){
            padding: 0.5em;
        }
        .sn-h2{
            font-size: 1.8rem;
            color: $fondo;
            background-color: #6669;
            border-radius: 1rem;
            text-align: center;
            margin: 0 5rem;
            padding: 20px;
            @media (max-width:600px){
                margin: 0 10px;
                font-size: 1.5rem;
            }
        }
    }   
    .contenido{
        margin: 8rem auto;
        max-width: 1200px;
        padding: 2rem;
        border-radius: 1rem;
        font-size: 1.1rem;
        color: $fondo;
        @media (max-width: 400px){
            font-size: 0.8rem;
        }
        @media (max-width:550px){
            margin: 1rem 0.5rem;
            font-size: 0.9rem;
            .sn-logo{
                align-self: center;
                height: 40svw;
                width: fit-content;
            }
        }
    } 
    .logo-descripcion{
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 30px 100px;
        background-color: $negro-claro;
        color: $gris-claro;
        border-radius: 20px;
        font-size: 20px;
        margin: 10rem auto;
        max-width: 1300px;
        @media (max-width: 400px){
            font-size: 14px;
            margin: .5rem;
        }
        @media (max-width: 1024px){
            flex-direction: column;
            padding: 10px;
            font-size: 17px;
        }
        .sn-logo{
            height: auto;
            width: 300px;
            align-self: center;
            border-radius: 200px;
            transition: all 0.3s;
            margin: 2rem;
            @media (max-width: 400px){
                width: 200px;
            }
        }
        .sn-logo:hover{
            transform: scale(1.1);
            margin-right: 10px;
        }
        .texto-logo{
            align-self: center;
            margin: 10px;
        }
        h3{
            text-align: center;
            color: #e75e5e;
        }
        
    }

    .area-de-trabajo{
        background-image: url(../images/working/w5.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90svh;
        padding: 2rem;
        border-radius: 1em;
        margin: 0 auto;
        max-width: 1400px;
        .titulo-oficinas{
            color: $fondo;
            background-color: #3339;
            width: fit-content;
            margin: 2rem;
            padding: 1rem;
            border-radius: 1rem;
            @media (max-width:480px){
                margin: 2rem 0;
            }
        }
        .subtitulo-oficinas{
            background-color: #2229;
            width: fit-content;
            color: $gris-claro;
            margin: 0 2.1rem;
            border-radius: 1.2rem;
            padding: 1rem;
            @media (max-width:480px){
                margin: 0 1.1rem;
            }
        }
    }
}

    


  

  
/* GUÍA */

.contenido-guia{
    .bienvenido{
        background-image: url(../images/working/w23.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90svh;
        padding: 2em;
        justify-content: center;
        .titulo-a{
            color: $fondo;
            background-color: #2228;
            width: fit-content;
            margin: 0 auto;
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
            @media (max-width:400px){
                margin: auto;
                padding: 1rem 0.5rem;
            }
        }
    }
    .guia-mensaje{
        background-color: #212529;
        color: $gris-claro;
        padding: 1rem;
        margin: 1rem;
        border-radius: 2rem;
        margin: 10rem auto;
        max-width: 1300px;
        @media(max-width:450px){
            margin: 1rem 0;
        }
        h3{
            text-align: center;
            font-size: 2rem;
            padding: 1rem;
            color: $rojo-claro;
            margin-bottom: 1rem;
            @media (max-width:450px){
                font-size: 1.2rem;
                text-align: left;
                padding: 1rem 0;
            }
        }
        p{
            font-size: 1.1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
    }
}

.guia-teclado{
    border: 2px solid $gris-azulado;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: .5rem .5rem 1rem 1rem;
    max-width: 1400px;
    .contenedor-titulo{
        background-image: url(../images/working/w35.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50svh;
        padding: 5rem;
        border-radius: .5rem .5rem 0 0;
        @media(max-width:600px){
            padding: 5rem 0;
        }
        .btn-teclados{
            background-color: #fff9;
            color: #cb0000;
            width: fit-content;
            margin: 4.5rem;
            padding: 1rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            border: none;
            transition: all 0.2s;
            @media (max-width:600px){
                margin: auto;
                padding: 1rem;
                text-align: center;
                display: flex;
                align-self: center;
                justify-content: center;
            }            
        }
        .btn-teclados:hover{
            transform: scale(1.1);
            color: #3355dd;
        }
    }
    .contenido-oculto{
        min-width: 200px;
        margin: 0 1rem;
        background-color: $negro-claro;
        color: $fondo;
        padding: 3rem;
        border-radius: 0 0 10px 10px;
        @media (max-width:450px){
            padding: .5rem;
            margin: 0;
        }
        .descripcion-teclados{
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #341515;
            background-color: $fondo;
            padding: 1rem;
            border-radius: 1rem;
            @media (max-width:450px){
                font-size: 1rem;
            }
        }
        h5{
            color: #970000;
            background-color: $fondo;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
        }
        h3{
            background-color: $gris-azulado;
            padding: 1rem;
            border-radius: 2rem;
            width: fit-content;
        }
        p{
            margin-left: 1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
        div ul li{
            margin: 10px;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
        div ol li{
            margin: 10px;
            @media (max-width:450px){
                font-size: 1rem;
            }
        }
        .recomendaciones{
            margin: 0 auto;
            margin-top: 2rem;
            text-align: center;
            @media (max-width:450px){
                font-size: 1.3rem;
            }
        }
    }
    .videos-teclado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $fondo;
        background-color: #979797;
        border-radius: 0 0 1rem 1rem;
        width: auto;
        padding: 1rem;
        
        a{
            text-decoration: none;
        }
        h5{
            padding: 1rem;
            color: $rojo-claro;
            background-color: $gris-claro;
            width: fit-content;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
        iframe{
            border-radius: 1rem;
            width: auto;
            height: auto;
            margin: 1rem;
            
        }
        .iframes-container{
            display: flex;
            align-items: center;
            align-self: center;
            justify-items: center;
            @media (max-width:670px){
                flex-direction: column;
            }
        }
    }
}
  

.guia-switch{
    border: 2px solid $gris-azulado;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: .5rem .5rem 1rem 1rem;
    max-width: 1400px;
    .contenedor-titulo{
        background-image: url(../images/switch/All\ Kailh\ switch.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50svh;
        padding: 2rem;
        border-radius: .5rem .5rem 0 0;
        @media(max-width:600px){
            padding: 5rem 0;
        }
        .btn-switches{
            background-color: #fff9;
            color: #cb0000;
            width: fit-content;
            margin: 4.5rem;
            padding: 1rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            border: none;
            transition: all 0.2s;
            
            @media (max-width:600px){
                margin: auto;
                text-align: center;
                display: flex;
                align-self: center;
                justify-content: center;
            }            
        }
        .btn-switches:hover{
            transform: scale(1.1);
            color: #3355dd;
        }
    }
    .contenido-oculto{
        min-width: 200px;
        margin: 0 1rem;
        background-color: $negro-claro;
        color: $fondo;
        padding: 3rem;
        border-radius: 0 0 10px 10px;
        @media (max-width:450px){
            padding: .5rem;
            margin: 0;
        }
        .descripcion-switches{
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #341515;
            background-color: $fondo;
            padding: 1rem;
            border-radius: 1rem;
        }
        h5{
            color: $rojo-oscuro;
            background-color: $fondo;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
        }
        h3{
            background-color: $gris-azulado;
            padding: 1rem;
            border-radius: 2rem;
            width: fit-content;
        }
        p{
            margin-left: 1rem;
        }
    }
    .videos-switch{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $fondo;
        background-color: #979797;
        border-radius: 0 0 1rem 1rem;
        width: auto;
        padding: 1rem;
        a{
            text-decoration: none;
        }
        h5{
            padding: 1rem;
            color: $rojo-claro;
            background-color: $gris-claro;
            width: fit-content;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
        iframe{
            border-radius: 1rem;
            width: auto;
            height: auto;
            margin: 1rem;
            
        }
        .iframes-container{
            display: flex;
            align-items: center;
            align-self: center;
            justify-items: center;
            @media (max-width:670px){
                flex-direction: column;
            }
        }
    }
}
  
.guia-mousepad{
    border: 2px solid $gris-azulado;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: .5rem .5rem 1rem 1rem;
    max-width: 1400px;
    .contenedor-titulo{
        background-image: url(../images/pad/Black\ and\ Red\ Gaming\ Mousepad\ xl.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40svh;
        padding: 2rem;
        border-radius: .5rem .5rem 0 0;
        @media(max-width:600px){
            padding: 5rem 0;
        }
        .btn-mousepads{
            background-color: #fff9;
            color: #cb0000;
            width: fit-content;
            margin: 4.5rem;
            padding: 1rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            border: none;
            transition: all 0.2s;
            @media (max-width:600px){
                margin: auto;
                text-align: center;
                display: flex;
                align-self: center;
                justify-content: center;
            }            
        }
        .btn-mousepads:hover{
            transform: scale(1.1);
            color: #3355dd;
        }
    }
    .contenido-oculto{
        min-width: 200px;
        margin: 0 1rem;
        background-color: $negro-claro;
        color: $fondo;
        padding: 3rem;
        border-radius: 0 0 10px 10px;
        @media (max-width:450px){
            padding: .5rem;
            margin: 0;
        }
        .descripcion-mousepads{
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #341515;
            background-color: $fondo;
            padding: 1rem;
            border-radius: 1rem;
        }
        h5{
            color: $rojo-oscuro;
            background-color: $fondo;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
        }
        h3{
            background-color: $gris-azulado;
            padding: 1rem;
            border-radius: 2rem;
            width: fit-content;
        }
        p{
            margin-left: 1rem;
        }
    }
    .videos-mousepad{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $fondo;
        background-color: #979797;
        border-radius: 0 0 1rem 1rem;
        width: auto;
        padding: 1rem;

        a{
            text-decoration: none;
        }
        h5{
            padding: 1rem;
            color: $rojo-claro;
            background-color: $gris-claro;
            width: fit-content;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
        iframe{
            border-radius: 1rem;
            width: auto;
            height: auto;
            margin: 1rem;
            
        }
        .iframes-container{
            display: flex;
            align-items: center;
            align-self: center;
            justify-items: center;
            @media (max-width:670px){
                flex-direction: column;
            }
        }
    }
}


