
  
/* GUÍA */

.contenido-guia{
    .bienvenido{
        background-image: url(../images/working/w23.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90svh;
        padding: 2em;
        justify-content: center;
        .titulo-a{
            color: $fondo;
            background-color: #2228;
            width: fit-content;
            margin: 0 auto;
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
            @media (max-width:400px){
                margin: auto;
                padding: 1rem 0.5rem;
            }
        }
    }
    .guia-mensaje{
        background-color: #212529;
        color: $gris-claro;
        padding: 1rem;
        margin: 1rem;
        border-radius: 2rem;
        margin: 10rem auto;
        max-width: 1300px;
        @media(max-width:450px){
            margin: 1rem 0;
        }
        h3{
            text-align: center;
            font-size: 2rem;
            padding: 1rem;
            color: $rojo-claro;
            margin-bottom: 1rem;
            @media (max-width:450px){
                font-size: 1.2rem;
                text-align: left;
                padding: 1rem 0;
            }
        }
        p{
            font-size: 1.1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
    }
}

.guia-teclado{
    border: 2px solid $gris-azulado;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: .5rem .5rem 1rem 1rem;
    max-width: 1400px;
    margin-bottom: 10rem;
    .contenedor-titulo{
        background-image: url(../images/working/w35.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50svh;
        padding: 5rem;
        border-radius: .5rem .5rem 0 0;
        @media(max-width:600px){
            padding: 5rem 0;
        }
        .btn-teclados{
            background-color: #fff9;
            color: $rojo-oscuro;
            width: fit-content;
            margin: 4.5rem;
            padding: 1rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            border: none;
            transition: all 0.2s;
            @media (max-width:600px){
                margin: auto;
                padding: 1rem;
                text-align: center;
                display: flex;
                align-self: center;
                justify-content: center;
            }            
        }
        .btn-teclados:hover{
            transform: scale(1.1);
            color: $negro-claro;
        }
        .accordion-button::after{
            margin-left: .5rem;
        }
    }
    .contenido-oculto{
        min-width: 200px;
        margin: 0 5rem;
        background-color: $negro-claro;
        color: $fondo;
        padding: 3rem;
        border-radius: 0 0 10px 10px;
        text-align: justify;
        @media (max-width:450px){
            padding: .5rem;
            margin: 0;
        }
        .descripcion-teclados{
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #341515;
            background-color: $fondo;
            padding: 1rem;
            border-radius: 1rem;
            @media (max-width:450px){
                font-size: 1rem;
            }
        }
        h5{
            color: #970000;
            background-color: $fondo;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            margin-top: 4rem;
        }
        h3{
            background-color: $gris-azulado;
            padding: 1rem;
            border-radius: 2rem;
            width: fit-content;
        }
        p{
            margin-left: 1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
        div ul li{
            margin: 1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
        div ol li{
            margin: 2rem;
            @media (max-width:450px){
                font-size: 1rem;
            }
        }
        .recomendaciones{
            margin: 0 auto;
            margin-top: 2rem;
            text-align: center;
            @media (max-width:450px){
                font-size: 1.3rem;
            }
        }
        .lista-reco{
            background-color: $fondo;
            color: #341515;
            border-radius: 1rem;
            padding: 1rem;
            margin-top: 1rem;
        }
    }
    .videos-teclado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $fondo;
        background-color: #6664;
        border-radius: 0 0 1rem 1rem;
        width: auto;
        padding: 1rem;
        
        a{
            text-decoration: none;
        }
        h5{
            padding: 1rem;
            color: $fondo;
            // background-color: $gris-claro;
            width: fit-content;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
        iframe{
            border-radius: 1rem;
            width: 45svw;
            height: 39svh;
            margin: 1rem;
            max-width: 650px;
            @media (max-width:670px){
                width: auto;
                height: auto;
            }
        }
        .iframes-container{
            display: flex;
            align-items: center;
            align-self: center;
            justify-items: center;
            @media (max-width:670px){
                flex-direction: column;
            }
        }
    }
}
  

.guia-switch{
    border: 2px solid $gris-azulado;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: .5rem .5rem 1rem 1rem;
    max-width: 1400px;
    .contenedor-titulo{
        background-image: url(../images/switch/All\ Kailh\ switch.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50svh;
        padding: 2rem;
        border-radius: .5rem .5rem 0 0;
        @media(max-width:600px){
            padding: 5rem 0;
        }
        .btn-switches{
            background-color: #fff9;
            color: $rojo-oscuro;
            width: fit-content;
            margin: 4.5rem;
            padding: 1rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            border: none;
            transition: all 0.2s;
            
            @media (max-width:600px){
                margin: auto;
                text-align: center;
                display: flex;
                align-self: center;
                justify-content: center;
            }            
        }
        .btn-switches:hover{
            transform: scale(1.1);
            color: #3355dd;
        }
        .accordion-button::after{
            margin-left: .5rem;
        }
    }
    .contenido-oculto{
        min-width: 200px;
        margin: 0 1rem;
        background-color: $negro-claro;
        color: $fondo;
        padding: 3rem;
        border-radius: 0 0 10px 10px;
        @media (max-width:450px){
            padding: .5rem;
            margin: 0;
        }
        .descripcion-switches{
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #341515;
            background-color: $fondo;
            padding: 1rem;
            border-radius: 1rem;
        }
        h5{
            color: $rojo-oscuro;
            background-color: $fondo;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            margin-top: 4rem;
        }
        h3{
            background-color: $gris-azulado;
            padding: 1rem;
            border-radius: 2rem;
            width: fit-content;
            text-align: center;
            margin: 0 auto;
        }
        p{
            margin-left: 1rem;
        }
        div ul li{
            margin: 1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
        div ol li{
            margin: 2rem;
            @media (max-width:450px){
                font-size: 1rem;
            }
        }
        .lista-reco{
            background-color: $fondo;
            color: #341515;
            border-radius: 1rem;
            padding: 1rem;
            margin-top: 1rem;
        }
    }
    .videos-switch{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $fondo;
        background-color: #fff3;
        border-radius: 0 0 1rem 1rem;
        width: auto;
        padding: 1rem;
        a{
            text-decoration: none;
        }
        h5{
            padding: 1rem;
            color: $fondo;
            width: fit-content;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
        iframe{
            border-radius: 1rem;
            width: 45svw;
            height: 39svh;
            margin: 1rem;
            max-width: 650px;
            @media (max-width:670px){
                width: auto;
                height: auto;
            }
        }
        .iframes-container{
            display: flex;
            align-items: center;
            align-self: center;
            justify-items: center;
            @media (max-width:670px){
                flex-direction: column;
            }
        }
    }
}
  
.guia-mousepad{
    border: 2px solid $gris-azulado;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: .5rem .5rem 1rem 1rem;
    max-width: 1400px;
    .contenedor-titulo{
        background-image: url(../images/pad/Black\ and\ Red\ Gaming\ Mousepad\ xl.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40svh;
        padding: 2rem;
        border-radius: .5rem .5rem 0 0;
        @media(max-width:600px){
            padding: 5rem 0;
        }
        .btn-mousepads{
            background-color: #fff9;
            color: $rojo-oscuro;
            width: fit-content;
            margin: 4.5rem;
            padding: 1rem;
            border-radius: 3rem;
            font-size: 1.5rem;
            border: none;
            transition: all 0.2s;
            @media (max-width:600px){
                margin: auto;
                text-align: center;
                display: flex;
                align-self: center;
                justify-content: center;
            }            
        }
        .btn-mousepads:hover{
            transform: scale(1.1);
            color: #3355dd;
        }
        .accordion-button::after{
            margin-left: .5rem;
        }
    }
    .contenido-oculto{
        min-width: 200px;
        margin: 0 5rem;
        background-color: $negro-claro;
        color: $fondo;
        padding: 3rem;
        border-radius: 0 0 10px 10px;
        
        @media (max-width:450px){
            padding: .5rem;
            margin: 0;
        }
        .descripcion-mousepads{
            font-size: 1.5rem;
            margin: 1rem 0;
            color: #341515;
            background-color: $fondo;
            padding: 1rem;
            border-radius: 1rem;
            
        }
        h5{
            color: $rojo-oscuro;
            background-color: $fondo;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            margin-top: 4rem;
        }
        h3{
            background-color: $gris-azulado;
            padding: 1rem;
            border-radius: 2rem;
            width: fit-content;
            text-align: center;
            margin: 0 auto;
        }
        p{
            margin-left: 1rem;
        }
        div ul li{
            margin: 1rem;
            @media (max-width:450px){
                font-size: 0.9rem;
            }
        }
        div ol li{
            margin: 2rem;
            @media (max-width:450px){
                font-size: 1rem;
            }
        }
        .lista-reco{
            background-color: $fondo;
            color: #341515;
            border-radius: 1rem;
            padding: 1rem;
            margin-top: 1rem;
        }
    }
    .videos-mousepad{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $fondo;
        background-color: #fff3;
        border-radius: 0 0 1rem 1rem;
        width: auto;
        padding: 1rem;
        
        a{
            text-decoration: none;
        }
        h5{
            padding: 1rem;
            color: $fondo;
            width: fit-content;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.4rem;
        }
        iframe{
            border-radius: 1rem;
            width: 45svw;
            height: 39svh;
            margin: 1rem;
            max-width: 650px;
            @media (max-width:670px){
                width: auto;
                height: auto;
            }
        }
        .iframes-container{
            display: flex;
            align-items: center;
            align-self: center;
            justify-items: center;
            
            @media (max-width:670px){
                flex-direction: column;
            }

        }
    }
}
