
// Pagina Switches
// Banner Switches
.banner-switches{
    background-image: url(../images/working/w21.jpg);
    height: 70svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 6rem;
    @media (max-width:800px){
        padding-top: 1rem;
    }
    .titulo-banner{
        background-color: #ddd8;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 2px;
        margin: 0px 20px;
        color: $rojo-oscuro;
    }
    .subtitulo-banner{
        color: $gris-claro;
        background-color: #3338;
        width: 45%;
        max-width: fit-content;
        border-radius: 5px;
        margin: 30px 20px;
        padding: 10px 20px;
        @media (max-width:700px){
            width: fit-content;
        }
    }
}


// Galeria Switches
.nombre-switch{
    margin-left: 1rem;
}
.precio-switch{
    margin-right: 1rem;
}
